<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Agendamiento de turno</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
</head>
<body>
	<style>
		body {
    background: url("../static/img/odonto.png") no-repeat center center fixed;
}
.container {
    margin-top: 50px;
    background-color: #ffffff;
    padding: 50px;
    box-shadow: 0px 0px 25px 1px rgba(200, 200, 200, 0.5);
}

.btn {
    margin-top: 15px;
}
#logo {
    width: 50px;
}
.container {
    border-radius: 10px;
}
label {
    font-weight: bold;
}
.form input {
    outline: none !important;
}
	</style>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <div class="d-flex col-4 justify-content-around"> 
            <a href="/inicio" class="btn btn-primary" id="volver_btn">Volver</a> 
        </div> 
        <img id="logo" src="../static/img/favicon.png" alt="logo">
        <div class="d-flex col-4 justify-content-around"> 
            <a href="/logout" class="btn btn-danger" id="logout_btn">Logout</a> 
        </div> 
    </nav>
	<div class="container">
		<h2>Agendamiento de turno</h2>
		<form action="">
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="paciente">Nombre del paciente:</label>
						<input type="text" class="form-control" id="paciente">
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="consulta">Tipo de consulta:</label>
						<select class="form-control" id="consulta">
							<option>Consulta general</option>
							<option>Ortodoncia</option>
							<option>Implante Dental</option>
							<option>Endodoncia</option>
						</select>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<label for="doctor">Nombre del doctor:</label>
						<select class="form-control" id="doctor">
							<option>Dr. Juan Pérez</option>
							<option>Dra. Ana Gómez</option>
							<option>Dr. Carlos González</option>
							<option>Dra. María Rodríguez</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<label for="fecha">Fecha y hora:</label>
						<input type="datetime-local" class="form-control" id="fecha">
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<label for="comentarios">Comentarios:</label>
				<textarea class="form-control" id="comentarios" rows="3"></textarea>
			</div>
			
			<button type="submit" class="btn btn-primary">Agendar turno</button>
		</form>
	</div>
</body>
</html>