<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    </head>
    <body>
        <nav class="d-flex justify-content-between align-items-center col-12">
            <h1 class="text-center">Welcome {{user.first_name}}!!!</h1>
            <div class="d-flex col-4 justify-content-around">
                <a href="/new/pensamiento" class="btn btn-primary">Add New Pensamiento</a>
                <a href="/logout" class="btn btn-info">Logout</a>
            </div>
        </nav>
        <div class="col-8 mx-auto">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pensamiento in pensamientos %}
                    <tr>
                        <td>{{pensamiento.idUsuario}}</td>
                        <td>{{pensamiento.descripcion}}</td>
                        <td>
                            <a href="/pensamiento/{{pensamiento.id}}">View Pensamiento</a>
                            {% if pensamiento.user_id == session.user_id %} {% endif %}
                            <a href="/edit/pensamiento/{{pensamiento.id}}">Edit</a>
                            {% if pensamiento.user_id == session.user_id %} {% endif %}
                            <a href="/destroy/pensamiento/{{pensamiento.id}}">Delete</a>
                            {% if pensamiento.user_id == session.user_id %} {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </body>
</html>
